:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --border: 0.2rem solid rgba(0, 0, 0, 0.1);
    --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: 0.2rem solid var(var(--black));
}

.tablePedidos,.tableempleados {
    background-color: #fff;
    padding: 4rem 2rem;
    width: 100%;
    text-align: center;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
}

.tablePedidos:hover, .tableempleados:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.tablePedidos,.tableempleados tr {
    font-size: 2rem;
}

.tablePedidos tr:nth-child(odd),.tableempleados tr:nth-child(odd) {
    background-color: #eee;
}